
.Form{
  background-image: url(../../assets/background.jpg);
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  font-family:Georgia, "Times New Roman", sans-serif;
 background:rgba(2, 71, 25, 0.479);
  padding: 1rem;
 
}
.Boton{
    font-family:Arial, Helvetica, sans-serif;
    background: transparent;
    border: none;
    color: white;
    padding: 0.5em 1em;
    border-bottom: 1px solid white;
  
  cursor: pointer;
  
}
.inputs{
  font-family:Arial, Helvetica, sans-serif;
   background: white;
   
  overflow: hidden;
  width: 100%;
  height: 100%;
  outline: 0px;
}

.errors{
    color: red;
}
